{% extends "base.njk" %}

{% block content %}
    <section id="display">
        <hr id="first">
        <h1>{{ title }}</h1>
        <section id="pictures">
            <img class="pictures">
        </section>
        <hr id="second">
    </section>
{% endblock %}