{% extends "base.njk" %}

{% block content %}
    <h1>{{ title }}</h1>
    <section id="captions">
        <p>{{ caption }}</p>
    </section>
    <section id="cards">
        {# redo this section to make it buttons #}
        <a href="/resources/events">
            <button class="card" type="button">{{ card_1 }}</button>
        </a>
        <a href="/resources/club">
            <button class="card" type="button">{{ card_2 }}</button>
        </a>
        <a href="/resources/tabroom">
            <button class="card" type="button">{{ card_3 }}</button>
        </a>
        <a href="../tournaments">
            <button class="card" type="button">{{ card_4 }}</button>
        </a>
        <a href="/resources/FAQ">
            <button class="card" type="button">{{ card_5 }}</button>
        </a>
        <a href="/resources/slides">
            <button class="card" type="button">{{ card_6 }}</button>
        </a>
    </section>
{% endblock %}