<header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/parents">parents</a></li>
            <li><a href="/tournaments/">tournaments</a></li>
            <li><a href="/calendar/">calendar</a></li>
            <li><a href="/nhs/">nhs s&amp;d</a></li>
        </ul>
    </nav>
</header>