{% extends "base.njk" %}

{% block content %}
    <section>
        <h1>{{ website_title }}</h1>
        <div class="captions">
            <p class="left_caption">{{ left_caption }}</p>
            <p class="right_caption">{{ right_caption }}</p>
        </div>
        <div class="button">
        </div>
    </section>
{% endblock %}