header {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s ease;
}

header nav ul li a:hover {
    color: red;
    scale: 1.1;
}