header nav ul li a{
    color: #8f2222;
}

#display {
    margin: 3rem 0 0 0;
    position: relative;
    background-color: #8f2222;
    padding: 10rem 0;
    min-height: 20rem;
    width: 100%;
}

h1 {
    font-style: italic;
    color: #f1eee1;
    text-shadow: 0 0 3rem black;
    margin: -5rem auto 0;
}

hr {
    border-color: #f1eee1;
}

#first {
    top: -1rem;
}

#second {
    bottom: 0.5rem;
}