{% extends "base.njk" %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="content">
        <a href="/parents/judging">
            <div class="info_1">
                <h3 class="text"><em>{{ section_1 }}</em></h3>
                <p class="text">{{ caption_1 }}</p>
            </div>
        </a>
        <a href="/parents/booster">
            <div class="info_2">
                <h3 class="text"><em>{{ section_2 }}</em></h3>
                <p class="text">{{ caption_2 }}</p>
            </div>
        </a>
    </div>
    {{ content | safe }}
{% endblock %}